<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登出页面</title>
</head>
<body>
    <h1>欢迎来到登出页面</h1>
    <button onclick="logout()">登出</button>

    <script>
        function logout() {
            // 这里可以添加一些清除用户信息的代码
            // 例如，清除本地存储中的用户信息
            localStorage.removeItem('userToken');

            // 重定向到登录页面
            window.location.href = 'login.html';
        }
    </script>
</body>
</html>
